.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter {
  opacity: 0;
  /* transform: scale(0.9); */
  transform: translateX(150px);
}
.fade-enter-active {
  transition: opacity 1000ms ease-out ,transform 800ms ease-out;
  opacity: 1;
  transform: translateX(0px);
}
.fade-exit {
  transition: opacity 1000ms ease-in, transform 800ms ease-out;
  opacity: 1;
  transform: translateX(0px);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(150px);
  /* transform: scale(0.9); */
}
